GROQ_API_KEY="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"
HF_TOKEN="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"

# SMTP Configuration
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
SMTP_USERNAME="jijeshrajk@gmail.com"
SMTP_PASSWORD=""
SENDER_EMAIL="jijeshrajk@gmail.com"
